<footer class="footer mt-auto py-3 bg-dark" style="    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10em 0;">
    <div class="container">
      <span class="text-muted">Copyright &copy; Your Website 2022</span>
    </div>
  </footer>