<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>App Tareas</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="/https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <nav class="barraprincipal navbar navbar-expand-lg navbar-dark bg-dark shadow p-3 mb-5 bg-body rounded">
        <div class="container-fluid">
            <a class="navbar-brand" href="/principal_busqueda_tareas">
                <img src="/images/frame.png">
                Tareas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-2">
                    <li class="nav-item me-2"><a class="navbar-brand me-2" href="#"> <img src="/../img/logo.png" alt=""
                                width="41"></a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mr-sm-3"><a class="nav-link text-primary" href="#!">Ver propuestas</a>
                    </li>
                    <li class="nav-item mr-sm-3"><a class="nav-link text-primary" href="#!">Nombre de usuario</a></li>
                    <li class="nav-item dropdown mr-sm-3">
                        <a class="nav-link dropdown-toggle justify-content-end" id="navbarDropdown" href="#"
                            role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="bi bi-person-circle"></i></a>
                        <div class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-primary" href="#">Mis propuestas</a>
                            <a class="dropdown-item text-primary" href="#!">Mi cuenta</a>
                            <a class="dropdown-item text-primary" href="#">Mis tareas</a>
                    </li>
                    <li class="nav-item mr-sm-3"><a class="btn btn-primary" href="#!">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>