<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Aplicacion de Tareas</title>
  <link rel="icon" href="/images/icono_cabecera.jpg" type="image/jpg">
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/cb1bb46b82.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<script type="text/javascript" src="/js/header.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>
  <nav class="menu">
    <label class="logo">Aplicacion Tareas</label>
    <ul class="munu_items" id="otroModo">
      <li class="active"><a href="#">Inicio</a></li>
      <li><a href="#">Buscar publicacion</a></li>
      <li><a href="#">Propuestas</a></li>
      <li><a href="#">Visualizar propuestas</a></li>
      <li><a href="#">Singin</a></li>
      <li ><a href="/" class="btn btn-primary" id="cerrarsesion">Cerrar Sesion</a></li>
    </ul>
    <span class="btn_menu" onclick="showmenu()">
      <i class="fa fa-bars"></i>
    </span>
  </nav>

</body>