<!DOCTYPE html>
<html lang="en">

<head>
    <!-- style css -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Iniciar sesion</h2>
            <h2 class="inactive underlineHover">Registrarse</h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://cdn-icons-png.flaticon.com/512/3003/3003035.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="Ingresar"  href="/user">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">¿Olvido su contraseña?</a>
            </div>

        </div>
    </div>
</body>

</html>