<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Propuesta_Informacion.css">
    <link rel="stylesheet" href="/css/General/General.css">
</head>

<body style="     position: relative;
padding-bottom: 0em;
min-height: 100vh;">
    <div id="cuerpo">
        <div class="card card-body" id="divnuevo">
            <div class="row">
                <div class="col-md-11 nuevo">
                    <span class="nuevo">
                        Carlos Villacis
                    </span>
                </div>
                <div class="col-md-1 nuevo">
                    <span class="nuevo">
                        <i class="fa-solid fa-person"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="container card-body">
            <div class=" container card card-body" id="divPropuestaDes1">
                <div class="row">
                    <div class="card-body col-md-15" id="divPropuestaDes2">
                        <h4>Descripción de propuesta</h4>
                    </div>
                    <div class="card-body col-md-5" id="divPropuestaDes3">
                        <a href="/user/listado_Propuesta" class="btn btn-danger" id="btnAtrasDes">Atras</a>
                    </div>
                </div>
            </div>
            <div class=" container card card-body" id="border">
                <% if (propuesta) { %>
                <div class="card card-body" id="divPropuestaDes4">
                    <div class="card-body row mx-auto" id="border">
                        <div class="col-md-4" id="border">
                            <div class="form-group">
                                <li class="etiqueta">Descripcion</li>
                            </div>
                            <div class="form-group">
                                <li class="etiqueta">Precio propuesto</li>
                            </div>
                        </div>
                        <div class="col-md-7" id="border">
                            <div class="card card-body cuerpoLista">
                                <li class="lista"><%= propuesta.descripcion %></li>
                            </div>
                            <div class="card card-body cuerpoLista">
                                <li class="lista"><%= propuesta.valor %></li>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</body>

<% include partials/_footer %>