<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Propuesta_Informacion.css">
    <link rel="stylesheet" href="/css/General/General.css">
</head>

<body style="     position: relative;
padding-bottom: 0em;
min-height: 100vh;"">
    <div id="cuerpo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <i class="fa-solid fa-user-astronaut" alt="" width="50" height="30"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user/listado_Propuesta_Todas"> <i class="fa-solid fa-list"></i> Propuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Visualizar Propuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Informacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Almacenamiento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container card-body">
            <div class=" container card card-body" id="divPropuestaDes1">
                <div class="row">
                    <div class="card-body col-md-15" id="divPropuestaDes2">
                        <h4>Descripción de propuesta Activas</h4>
                    </div>
                    <div class="card-body col-md-5" id="divPropuestaDes3">
                        <a href="/user/listado_Propuesta_Todas" class="btn btn-danger" id="btnAtrasDes">Atras</a>
                    </div>
                </div>
            </div>
            <div class=" container card card-body" id="border">
                <% if (propuesta) { %>
                <div class="card card-body" id="divPropuestaDes4">
                    <div class="card-body row" id="border">
                        <div class="col-md-2" id="border">
                            <div class="form-group">
                                <li class="etiqueta">Descripcion</li>
                            </div>
                            <div class="form-group">
                                <li class="etiqueta">Precio propuesto</li>
                            </div>
                        </div>
                        <div class="col-md-4" id="border">
                            <div class="card card-body cuerpoLista">
                                <li class="lista"><%= propuesta.descripcion %></li>
                            </div>
                            <div class="card card-body cuerpoLista">
                                <li class="lista"><%= propuesta.valor %></li>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body" id="border">
                        <div class="row">
                            <div class="col-md-6" id="opciones">
                                <a href="/user/listado_Propuesta_Todas" class="btn btn-primary btnRevisar"> Aceptar</a>
                            </div>
                            <div class="col-md-6" id="opciones">
                                <a href="/user/listado_Propuesta_Todas" class="btn btn-primary btnRevisar"> Rechazar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</body>

<% include partials/_footer %>